body {
  overflow-x:hidden;
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, "돋움", Dotum, Arial, Helvetica, sans-serif;
}

div {
  display: block;
  /*user-select:none 속성은 해당 요소의 드래그, 더블클릭, 블럭지정을 막는다.*/
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.mobile {
  display: none;
}

#HeaderWrap {
  height: 65px;
  background-color: white;
  border-bottom: 1px solid #d7dbdd;
}

#siteTitleWrap {
  position: relative;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  padding-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  float: left;
}

#siteTitleIMGPos {
  position: relative;
  width: 300px;
  float: left;
}

#returnIMG {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

#mobileMenuList {
  display: none;
}

#MenuNav {
  position: absolute;
  right: 0px;
  height: 45px;
  width: 330px;
  margin-top: 15px;
}

#MenuNav ul {
  position: absolute;
  list-style: none;
  left: 2.5%;
  top: 0px;
  margin: 0px;
  padding: 10px 0px 10px 20px;
}

#MenuNav ul li {
  color: black;
  font-size: 16px;
  font-weight: 500;
  min-width: 0px;
  margin-right: 20px;
}

#MenuNav .menuLink {
  text-decoration: none;
  color: #002a46;
  font-weight: 600;
}

#ContentWrap {
  clear: both;
  background-color: white;
  overflow-x: hidden;
  height: auto;
  margin-bottom: 50px;
}

#SearchConditionWrap {
  width: 100%;
  height: 100%;
  background: white;
}

#main-content #SearchConditionWrap {
  margin-top: 80px;
}

#main-content_result {
  position: absolute;
  width: 72%;
  right: 2%;
  text-align: center;
  max-width: 1200px;
  margin-top: 20px;
}

#fixed-table-container {
  position: relative;
  border: 1px solid #bebbc2;
  border-top: 0px;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.fixed-table-wrapper {
  max-height: 500px;
  position: relative;
  margin-top: 46px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#table_header {
  position: absolute;
  top: 0px;
  cursor: pointer;
}

#main-content_result table{
  width: 100%;
  border-collapse: collapse;
}

#result-table, #note-table {
  top: 30px;
}

#result-table th, td {
  border-bottom: 1px solid #444444;
  height: 35px;
}

#note-table th, td {
  border-bottom: 1px solid #444444;
  height: 35px;
}

#result-table td {
  font-size: 11.5pt;
}

#note-table td {
  font-size: 11.5pt;
}

#table_header input[type=checkbox] {
  display: table-cell;
}

.fixed-table-wrapper input[type=checkbox] {
  display: table-cell;
}

#table_header thead tr th {
  background-color: #1b94d2;
  color: white;
  font-weight: 550;
}

#table_header thead tr th span {
  font-size: 10pt;
  position: relative;
  top: -3px;
}

#table_header thead tr th .ascending, #table_header thead tr th .descending{
  display: none;
}

#table_header thead tr th.sortingCriteria_as, #table_header thead tr th.sortingCriteria_des {
  color: #ff7473;
}

#table_header thead tr th.sortingCriteria_as .ascending {
  display: inline-block;
}

#table_header thead tr th.sortingCriteria_des .descending {
  display: inline-block;
}

/*
tr:nth-child(2n) {
  background-color: #E0ECF8;
}*/

tr:nth-child(n) {
  background-color: white;
}

tr.selected_tr {
  background-color : #e1e8ea;
}

tr.disabled_tr {
  background-color : #e1e8ea;
}

tr.saved_tr {
  background-color: #f2d68a;
}

.retrievalSearch_background, .prediction_background, .analysis_background {
  position: absolute;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('swimming4.jpg');
  background-size: cover;
  padding: 70px 0px 70px 0px;
}

li {
  list-style: none;
}


body, fieldset, label {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

.optionTitle {
  display: table-cell;
  width: 15%;
  height: 55px;
  padding-left: 20px;
  border: 0.5px solid black;
  box-sizing: border-box;
  font-size: 14.5px;
  font-weight: 500;
  vertical-align: middle;
  background: #0A3E62;
  color: white;
}

.optionPanel {
  display: table-cell;
  vertical-align: middle;
  background: white;
  box-sizing: border-box;
  padding: 15px 10px 5px 30px;
  border: 0.5px solid black;
  width: 900px;
}

.optionTitle_filter{
    display: table-cell;
    width: 90px;
    height: auto;
    font-size: 16px;
    font-weight: 900;
    vertical-align: middle;
    background: white;
    color: #0A3E62;
}

.optionPanel_filter{
    display: table-cell;
    vertical-align: middle;
    background: white;
    width: 300px;
}

.additionalFunctions_Block{
  display: block;
  position: relative;
  overflow-x: hidden;
  height: auto;
}

.additionalFunctions_Block select {
  float: left;
  margin-left: 15px;
  background-color: white;
  border: 2px solid #f2d68a;
  height: 30px;
}

.additionalFunctions_Buttons{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 25px;
    font-size: 11pt;
    background-color: #f2d68a;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 5px 0px 5px;
    position: relative;
    cursor: pointer;
}

.additionalFunctions_Buttons.save_records_to_note {
  float: left;
  margin-left: 15px;
}

.additionalFunctions_Buttons.create_new_note {
  display: none;
  float: left;
  margin-left: 15px;
}

.additionalFunctions_Buttons.delete_records {
  display: none;
  float: left;
  margin-left: 15px;
}

.table_mode_handler {
  display: block;
  float: left;
}

.table_ver, .note_ver {
  display: inline-block;
  width: 110px;
  height: 35px;
  border: 1px solid gray;
  border-radius: 5 5 0 0;
  border-bottom: 0px;
  color: white;
  background-color: #e1e8ea;
  cursor: pointer;
}

.table_mode_handler div:hover {
  background-color: #1b94d2;
  font-weight: bold;
  color: white;
}

.additionalFunctions_Block .current {
  background-color: #1b94d2;
  font-weight: bold;
  color: white;
}

.retrievalSearch_Table, .filterSearch_Table, .prediction_Table, .analysis_Table {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

select {
  width: 60px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
}

ul, li {
  display: inline-block;
}

.filterSearch_tableRow{
  table-layout: fixed;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 5px;
  position: relative;
}

.filterSearch_tableRow:before {
  content: "";
  position: absolute;
  left: 55px;
  bottom: 0px;
  height: 1px;
  width: 70%;
  border-bottom: 1px solid #D3D6D7;
}

.filterSearch_tableRow.dis:before {
  left: 0px;
}

.option, .selectOption, .inputOption {
  position: relative;
  display: inline-block;
  min-height: 26px;
  min-width: 40px;
  box-sizing: border-box;
  font-size: 14.5px;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  padding: 1px 7px 3px 7px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.inputOption_filter {
  position: relative;
  display: inline-block;
  min-height: 26px;
  min-width: 40px;
  box-sizing: border-box;
  font-size: 14.5px;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
}

input[type=checkbox] {
  display: none;
}

input[type=radio]{
  display: none;
}

input[type=text] {
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px black;
  padding: 2px 5px 2px 5px;
  background-color: white;
}

.retrievalSearch_Form{
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
}

.prediction_Form, .analysis_Form{
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
}

.detailSearchOptions {
  display: none;
}

#main-content {
  overflow-x: hidden;
  height: auto;
  background-color: white;
}

#main-content_result_and_filter {
  overflow-x: hidden;
  height: auto;
}

#searchCondition_bar {
  position: relative;
  height: 38px;
  background-color: #1b94d2;
  color: white;
  border: 1px solid #1b94d2;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 7px;
  margin-bottom: 5px;
  overflow: hidden;
}

#searchCondition_bar_WhiteVer{
  position: absolute;
  right: 30px;
  top: -3px;
  min-width: 95%;
  min-height: 40px;
  background-color: white;
  color: #1c92d2;
  border: 1px solid #d7dbdd;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

#searchCondition_bar .optionPanel {
  color: black;
}

.return_to_retrievalSearchPage {
  position: absolute;
  width: 100px;
  min-height: 40px;
  right: 35px;
  top: 15px;
  color: white;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

.searchConditions_handler {
  position: absolute;
  width: 100px;
  right: 15px;
  top: 15px;
  color: white;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

#viewSearchConditions {
  width: 85%;
  height: 38px;
  font-size: 14px;
  font-weight: 600;
}

.searchConditions {
  position: relative;
  top: 15px;
  left: 10px;
  display: block;
  max-width: 75%;
  font-size: 0;
  overflow: hidden;
}

.searchConditions span:before {
  content: "#";
}

#MenuNav li:after {
  position: absolute;
  width: 1px;
  height: 16px;
  margin-left: 13px;
  top: 13px;
  background: black;
  content: "";
}

.searchConditions dt, dd {
  display: inline-block;
  color: white;
  font-weight: 300;
}

.searchConditions dt:after {
  position: absolute;
  top: 4px;
  width: 2px;
  height: 16px;
  margin-left: 8px;
  background: white;
  content: "";
}

.searchConditions dt {
  top: 0px;
  left: 0px;
  width: 100px;
  letter-spacing: -1px;
  font-size: 14px;
  font-weight: 500;
}


.searchConditions dd {
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.searchConditions dd span {
  font-size: 14px;
}

.filter_sidebar_handler.web {
  position: relative;
  left: 0px;
  display: block;
  width: 15px;
  height: 640px;
  border: 1px solid #0A3E62;
  border-left: 0px;
  border-radius: 1px 1px 0px 0px;
  float: left;
  background-color: #0A3E62;
  cursor: pointer;
}

.filter_sidebar_handler_hideBtn.web, .filter_sidebar_handler_expandBtn.web {
  display: inline-block;
  position: relative;
  top: 240px;
  width: 30px;
  height: 100px;
  border-radius: 0 5 5 0;
  border: 1px solid #0A3E62;
  background: #0A3E62;
  float: left;
  cursor: pointer;
  z-index: 1;
}

.filter_sidebar_handler_hideBtn.web div, .filter_sidebar_handler_expandBtn.web div{
  display: block;
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  position: relative;
  top: 35px;
  left: 10px;
}

.filter_sidebar_handler_hideBtn.web {
  left: 330px;
}

.filter_sidebar_handler_hideBtn.web div{
  border-left: 0px;
  border-right-color: white;
}

.filter_sidebar_handler_expandBtn.web div {
  border-right: 0px;
  border-left-color: white;
}


.filter_sidebar_handler_hideBtn.mobile, .filter_sidebar_handler_expandBtn.mobile {
  display: inline-block;
  width: 27px;
  position: relative;
  top: 0px;
  float: left;
  cursor: pointer;
}

.filter_sidebar_handler.mobile{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
  left: 0px;
  padding: 2px;
  border: 1px solid #0a3e62;
  border-radius: 10px;
  background-color: #fbfafa;
  text-align: center;
  vertical-align: middle;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.filter_sidebar_handler.mobile.hide {
  display: none;
  cursor: pointer;
  background-color: #0A3E62;
}

.filter_sidebar_handler.mobile span {
  font-size: 11pt;
  font-weight: bold;
  position: relative;
  top: 2px;
}

.filter_sidebar_handler.mobile.hide span{
  color: white;
}

.filter_sidebar_handler.web, .filter_sidebar_handler.mobile{
  display: none;
}

.filter_sidebar_handler_hideBtn.web, .filter_sidebar_handler_expandBtn.web {
  display: none;
}

.filter_sidebar_handler_hideBtn.mobile, .filter_sidebar_handler_expandBtn.mobile {
  display: none;
}

/*필터 사이드 바 스타일*/

#filter_sidebar.web {
  display: block;
  width: 300px;
  height: 640px;
  background-color: white;
  border: 1px solid #0A3E62;
  margin-right: 10px;
  position: relative;
  left: 25px;
  float: left;
}

#filter_sidebar .search-event {
  background-color: white;
  padding: 0px 0px 0px 0px;
  width: 95%;
}

#filter_sidebar dt {
  width: 80%;
}

#filter_sidebar dt a {
  text-decoration: none;
  color: #1890C9;
  font-size: 12.5pt;
  font-weight: 600;
  line-height: 24px;
  display: block;
  border-bottom: 1px solid #E0E6E9;
  padding: .375rem 1.875rem .375rem 0;
}

#filter_sidebar dl {
  margin-block-end: 0px;
}

#filter_sidebar dd {
  color: black;
}

#filter_sidebar .search-options {
  display: inline-block;
}

#filter_sidebar .search-options ul, ol {
  padding-left: 0px;
  margin: 3px 0px 0px 0px;
}

#filter_sidebar .search-options select {
  width: 75px;
  height: 30px;
  font-size: 9.5pt;
  font-weight: bolder;
  margin-top: 10px;
}

#filter_sidebar .search-options ul, li {
  display: inline-block;
  min-width: 90px;
}

#filter_sidebar .search-options ul {
  max-width: 350px;
}

#filter_sidebar .filter_option {
  position: relative;
}

/* 실제 체크박스는 화면에서 숨김 */
#filter_sidebar .filter_option input[type=checkbox]{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

#filter_sidebar .filter_option input[type=checkbox] + label{
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* 가짜 체크박스 */
#filter_sidebar .filter_option input[type=checkbox]+label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-right: 10px;
  margin-top: 4.5px;
  text-align: center;
  vertical-align: middle;
  /*position: relative;
  left: -15px;
  top: 3px;*/
  border-radius: 1px;
  background: white;
  border: 1px solid black;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(153, 153, 153, 8);
}

#filter_sidebar .filter_option input[type="checkbox"] + label:active:before,
#filter_sidebar .filter_option input[type="checkbox"].checked + label:active:before{
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(153, 153, 153, 8);
}

#filter_sidebar .filter_option input[type=checkbox].checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 18px;
  font-weight: 800;
  color: #cc0000;
  background: white;
  text-align: center;
  line-height: 18px;
}

/*
#filter_sidebar .filter_option input[type=checkbox].checked + label {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 18px;
  font-weight: 800;
  color: #cc0000;
  background: white;
  text-align: center;
  line-height: 18px;
}
*/

#filter_sidebar .filter_option input[type=checkbox]:disabled + label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-right: 10px;
  margin-top: 4.5px;
  text-align: center;
  vertical-align: middle;
  /*position: relative;
  left: -15px;
  top: 3px;*/
  border-radius: 1px;
  background: #d8dbdc;
  border: 1px solid black;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(153, 153, 153, 8);
}


#filter_sidebar .label-text {
  position: relative;
  top: 3px;
  left: -5px;
  font-size: 10pt;
  font-weight: 800;
}

#filter_sidebar .disabled {
  background-color: #c0c0c0;
  cursor: default;
}

/*필터 사이드바 모바일 버전*/
#filter_sidebar.mobile {
  position: relative;
  display: block;
  width: 95%;
  height: auto;
  border: 1px solid black;
  left: 10px;
  margin-bottom: 10px;
}

#filter_sidebar.mobile .search-event{
  width: 100%;
}

#filter_sidebar.mobile .filterSearch_tableRow{
  width: 45%;
  float: left;
}

#filter_sidebar.mobile {
  display: none;
}

#main-content-prediction {
  position: absolute;
  width: 70%;
  min-height:700px;
  left: 15%;
}

.reset_Icon_filter{
  width: 20px;
  margin-bottom: -5px;
  cursor: pointer;
}

.reset_searchConditions_filter{
  border: 1px solid black;
  border-radius: 30%;
  padding: 3.5px;
  cursor: pointer;
  position: relative;
  font-size: 10pt;
  top: -1px;
}

legend {
  float:left;
  margin-left: 5px;
}

.age_search_criteria input[type=radio]{
  display: inline-block;
}

.age_search_criteria {
  display: inline-block;
  font-size: 10pt;
  min-width: 80px;
  margin: 5px 0px 5px 0px;
}
.reset_searchConditions_filter:hover{
  background-color: #d8dbdc;
}

.pageList li {
  cursor: pointer;
  font-weight: 900;
  min-width: 50px;
}

.pageList li.current {
  color: #1b94d2;
}

.pageList_first, .pageList_skip_left{
  display: none;
}

#FooterWrap {
  clear:both;
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #f5f5f5;
}

#footer {
  position: relative;
  display: table;
  width: 95%;
  font-size: 13px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer span {
  display: block;
  margin-bottom: 0.05rem;
}

@media (max-width: 1350px) {
  #main-content_result {
    width: 70%;
  }
  #ContentWrap {
    margin-bottom: 70px;
  }
}

/*여기서부터 필터 기본으로 숨기기*/
@media (max-width: 1220px) {
  #main-content_result_and_filter {
    width: 100%;
  }
  #main-content_result {
    width: 90%;
  }
  #filter_sidebar.web {
    display: none;
    z-index: 1;
    border: 1px solid black;
  }

  .filter_sidebar_handler.web {
    display: block;
  }

  .filter_sidebar_handler_expandBtn.web {
    display: block;
  }
  .filter_sidebar_handler_expandBtn.web div{
    display: block;
  }
}

/*모바일 버전*/
@media (max-width: 767px) {
  #siteTitleWrap {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    display: table;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #siteTitleIMGPos {
    position: relative;
    width: 270px;
    float: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  #MenuNav {
    display: none;
  }

  .mobileMenu_open {
    display: block;
    position: relative;
    right: 0px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    float: right;
  }

  .mobileMenu_line {
    background-color: #056bb5;
    width: 30px;
    height: 6.5px;
    margin-bottom: 3px;
  }

  #mobileMenuList {
    position: fixed;
    right: 0px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border: 2px solid black;
    background-color: white;
    z-index: 1;
  }

  .mobileMenu_close {
    float: right;
    background: white;
    width: 40px;
    height: 40px;
    position: relative;
    top: 8px;
    margin-right: 10px;
  }
  .mobileMenu_close:after {
    content: '';
    height: 40px;
    border-left: 8px solid #000;
    position: absolute;
    transform: rotate(45deg);
    left: 15px;
  }

  .mobileMenu_close:before {
    content: '';
    height: 40px;
    border-left: 8px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    left: 15px;
  }

  #mobileMenuList ul{
    clear: both;
  }

  #mobileMenuList ul{
    display: block;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #mobileMenuList li{
    display: block;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #mobileMenuList a{
    text-decoration: none;
    color: black;
  }

  #mobileMenuList a:hover{
    color: #1e90ff;
  }

  #filter_sidebar {
    display: none;
  }

  .filter_sidebar_handler.web {
    display: none;
  }

  .filter_sidebar_handler_hideBtn.web {
    display: none;
  }

  .filter_sidebar_handler_expandBtn.web {
    display: none;
  }

  .filter_sidebar_handler.mobile{
    display: inline-block;
  }

  .filter_sidebar_handler.mobile.expand {
    display: inline-block;
  }

  .filter_sidebar_handler.mobile.hide{
    display: none;
  }

  .filter_sidebar_handler_expandBtn.mobile, .filter_sidebar_handler_hideBtn.mobile {
    display: inline-block;
  }

  .other_handlers {
    clear: both;
    border-top: 1px solid #bebbc2;
    padding-top: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
    height: auto;
  }

  #main-content_result {
    position: relative;
    width: 100%;
    right: 0;
    margin-top: 0;
  }

  #footer {
    position: relative;
    display: table;
    width: 95%;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .web {
    display: none;
  }
}

@media (max-width: 500px) {
  #siteTitleIMGPos {
    width: 230px;
  }
  #searchCondition_bar {
    height: 25px;
  }
  #viewSearchConditions {
    height: 25px;
  }
  .searchConditions {
    top: 5px;
  }
  .searchConditions dt {
    width: 100%;
    margin-bottom: 10px;
  }
  .searchConditions_handler {
    top: 5px;
    font-size: 11pt;
  }
  #table_header {
    display: none;
  }

  .fixed-table-wrapper {
    margin-top: 0;
  }

}
