body {
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, "돋움", Dotum, Arial, Helvetica, sans-serif;
}

#HeaderWrap {
  background-color: white;
  border-bottom: 1px solid #d7dbdd;
}

#siteTitleWrap {
  position: relative;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  padding-top: 15px;
  margin-bottom: 15px;
  margin-left: 15%;
}

#siteTitleIMGPos {
  position: relative;
  width: 300px;
  float: left;
}

#returnIMG {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

#NewsPreview {
  position: relative;
  width: 40%;
  height: 40px;
  max-width: 350px;
  border: 3px solid #0A3E62;
  border-radius: 3px;
  left: 55%;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 3px;
}

.NewsCategories {
  font-size: 12pt;
  line-height: 26px;
  font-weight: 700;
  display: block;
  width: 70px;
  height: 26px;
  position: absolute;
}

.mobileMenu{
    cursor: pointer;
}

.mobileMenu_open {
  display: none;
}

#mobileMenuList {
  display: none;
}

#MenuNav {
  clear: both;
  position: relative;
  height: 55px;
  border: 0.5px solid #ebedee;
}

#MenuNav ul {
  position: relative;
  list-style: none;
  display: table;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#MenuNav ul li {
  display: table-cell;
  color: black;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

#MenuNav .menuLink {
  text-decoration: none;
  color: #002a46;
  font-weight: 600;
}

#MenuNav .menuLink:hover {
  color: #1e90ff;
}

#MenuNav .currentPage {
  color: #1e90ff;
}

#ContentWrap {
  background-color: white;
}

#SearchConditionWrap {
  width: 100%;
  height: 100%;
  background: white;
}

#main-content #SearchConditionWrap {
  margin-top: 80px;
}

#FooterWrap {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #f5f5f5;
}

#footer {
  position: relative;
  display: table;
  width: 95%;
  font-size: 13px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer span {
  display: block;
  margin-bottom: 0.05rem;
}

#main-content_result {
  position: relative;
  overflow-x: hidden;
  height: auto;
  text-align: center;
}

#main-content_result table {
  border: 0.5px solid #444444;
  border-collapse: collapse;
}

#searchResult-table th, td {
  border-bottom: 1px solid #444444;
  margin-top: 10px;
  margin-bottom: 10px;
}

.expandOrCollapse-table {
  background-color: #002a46;
  color: white;
  width: 20px;
  border-top: hidden;
  border-right: hidden;
  border-bottom: hidden;
  border-radius: 0px 10px 10px 0px;
}

.expandOrCollapse {
  cursor: pointer;
}

.table-header th {
  background-color: #002a46;
  color: white;
  font-weight: 550;
}

tr:nth-child(2n) {
  background-color: #E0ECF8;
}

tr:nth-child(2n+1) {
  background-color: white;
}

.detailsSearchResult-table {
  display: none;
}

.search-event {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  min-width: 480px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.searchGuide {
  width: 100%;
  color: white;
  text-align: center;
  display: table;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.searchGuide span {
  display: block;
  width: 100%;
}

.searchGuide .description_main {
  font-weight: 600;
  font-size: 18pt;
}

.searchGuide .mobile {
  display: none;
}

.retrievalSearch_background, .prediction_background, .analysis_background {
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('swimming4.jpg');
  background-size: cover;
}

li {
  list-style: none;
}

.sidebar-input-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

body, fieldset, label {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

.optionTitle {
  display: table-cell;
  width: 15%;
  height: 55px;
  border: 0.5px solid black;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  vertical-align: middle;
  background: #0A3E62;
  color: white;
}

.optionPanel {
  display: table-cell;
  vertical-align: middle;
  background: white;
  box-sizing: border-box;
  padding: 15px 10px 5px 30px;
  border: 0.5px solid black;
  width: 900px;
}

.optionTitle_filter {
  display: table-cell;
  width: 15%;
  height: auto;
  font-size: 16px;
  font-weight: 900;
  vertical-align: middle;
  background: white;
  color: #1890C9;
}

.optionPanel_filter {
  display: table-cell;
  vertical-align: middle;
  background: white;
  width: 350px;
  padding-left: 15px;
}

.retrievalSearch_Table, .filterSearch_Table, .prediction_Table, .analysis_Table {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  min-width: 500px;
}

.buttonBlock {
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  position: relative;
}

.buttonBlock .reset_and_retrievalSearch {
  position: absolute;
  right: 10px;
}

#retrievalSearch_Button {
  background-color: #0A3E62;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: 0.5px solid #f3f8fd;
  cursor: pointer;
  right: 10px;
}

#prediction_Button {
  background-color: #0A3E62;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: 0.5px solid #f3f8fd;
  cursor: pointer;
}

#analysis_Button {
  background-color: #0A3E62;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: 0.5px solid #f3f8fd;
  cursor: pointer;
}

.more_or_hide{
  display: inline-block;
  position: absolute;
  left: 10px;
}

.more_or_hide input[type=button]{
  background-color: #f3f8fd;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #0A3E62;
  font-size: 20pt;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  padding: 0px;
}


.more_or_hide span{
  font-size: 13pt;
  font-weight: 900;
  color: white;
}

 .reset_searchConditions {
  background-color: #f3f8fd;
  border-radius: 5px;
  height: 50px;
  color: #0A3E62;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  margin-right: 20px;
}

select {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

ul, li {
  display: inline-block;
}

.retrieval_tableRow, .prediction_tableRow, .analysis_tableRow {
  table-layout: fixed;
  width: 100%;
}

.filterSearch_tableRow {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 7px;
}

.option, .selectOption, .inputOption {
  position: relative;
  display: inline-block;
  min-height: 26px;
  min-width: 40px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  padding: 1px 7px 3px 7px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.selectOption, .inputOption {
  padding: 0px;
}

.inputOption_filter {
  position: relative;
  display: inline-block;
  min-height: 26px;
  min-width: 40px;
  box-sizing: border-box;
  font-size: 14.5px;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  margin-left: 15px;
}

input[type=checkbox]{
  display: none;
}

input[type=radio] {
  display: none;
}

.option label {
  display: block;
  cursor: pointer;
  font-weight: 600;
}

.option:hover {
  color: white;
  background: #2C6992;
}

.option.selected {
  color: white;
  background: #2C6992;
}

legend input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

legend input[type=checkbox]+label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

legend input[type=checkbox]+label:before {
  content: "";
  display: inline-block;
  background-color: white;
  width: 15px;
  height: 15px;
  border: 0.5px solid black;
  border-radius: 50%;
  margin-left: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  position: relative;
  top: -2px;
}

legend input[type=checkbox]:checked+label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  font-weight: 800;
  color: #cc0000;
  text-align: center;
  line-height: 10px;
}

legend input[type=checkbox].selected+label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  font-weight: 800;
  color: #cc0000;
  text-align: center;
  line-height: 10px;
}

input[type=text] {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px black;
  padding: 2px 5px 2px 5px;
  background-color: white;
}

.retrievalSearch_Form {
  display: table;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.prediction_Form, .analysis_Form {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
}

.detailSearchOptions {
  display: none;
}

#main-content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: white;
}

#main-content_result_and_filter {
  height: auto;
  min-width: 1350px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 200px;
}

#searchCondition_bar {
  position: fixed;
  right: 30px;
  top: 95px;
  min-width: 95%;
  min-height: 40px;
  background-color: #1c92d2;
  color: white;
  border: 1px solid #1c92d2;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#searchCondition_bar_WhiteVer {
  position: absolute;
  right: 30px;
  top: -3px;
  min-width: 95%;
  min-height: 40px;
  background-color: white;
  color: #1c92d2;
  border: 1px solid #d7dbdd;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

#searchCondition_bar .optionPanel {
  color: black;
}

.return_to_retrievalSearchPage {
  position: absolute;
  width: 100px;
  min-height: 40px;
  right: 35px;
  top: 15px;
  color: white;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

#viewSearchConditions {
  width: 85%;
  min-height: 40px;
  font-size: 14px;
  font-weight: 600;
}

.searchConditions {
  position: relative;
  top: 15px;
  left: 10px;
  display: block;
  max-width: 800px;
  min-height: 24px;
  padding-left: 95px;
  font-size: 0;
}

.searchConditions span:before {
  content: "#";
}

/*
#MenuNav li:after {
  position: absolute;
  width: 1px;
  height: 16px;
  margin-left: 13px;
  top: 2px;
  background: black;
  content: "";
}*/
.searchConditions dt:after {
  position: absolute;
  top: 4px;
  width: 1px;
  height: 16px;
  margin-left: 14px;
  background: white;
  content: "";
}

.searchConditions dt {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95px;
  letter-spacing: -1px;
  font-size: 14px;
  font-weight: 500;
}

.searchConditions dt, dd {
  display: inline-block;
  color: white;
  font-weight: 300;
}

.searchConditions dd {
  margin-left: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.searchConditions dd span {
  font-size: 14px;
}

#main-content-prediction {
  position: absolute;
  width: 70%;
  min-height: 700px;
  left: 15%;
}

legend {
  display: table;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.age_search_criteria input[type=radio] {
  display: inline-block;
}

.age_search_criteria {
  display: block;
  width: 180px;
  margin-bottom: 10px;
  vertical-align: middle;
  padding: 5px 5px 5px 5px;
  font-size: 10pt;
}

/*
1023px 이하일 때는 아래의 내용이 추가 적용됨(기본 모양을 덮어씌우게 되는 것)
태블릿이 이 부분에 포함될듯
*/
@media (max-width: 1023px) {
  #siteTitleWrap {
    margin-left: 5%;
  }
  #siteTitleIMGPos {
    width: 270px;
  }
}

/*모바일 최적화 버전*/
/*500px 이하일 때 적용*/
@media (max-width: 550px) {
  #siteTitleWrap {
    position: relative;
    cursor: pointer;
    height: auto;
    display: table;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #siteTitleIMGPos {
    position: relative;
    width: 50%;
    float: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  #NewsPreview {
    clear: both;
    position: relative;
    width: 95%;
    height: 35px;
    max-width: 95%;
    border: 1px solid #0A3E62;
    border-radius: 1px;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 3px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    left: 0px;
  }

  #MenuNav {
    display: none;
  }

  .mobileMenu_open {
    display: block;
    position: relative;
    right: 0px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    float: right;
  }

  .retrievalSearch_background {
    background: #fbfafa;
  }

  .retrievalSearch_Form {
    width: auto;
  }

  .search-event {
    min-width: 0px;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    background-color: #fbfafa;
  }

  .searchGuide {
    background-color: #0a3e62;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .searchGuide span {
    margin-bottom: 0.1rem;
    width: auto;
  }

  .searchGuide .description_main {
    font-weight: 600;
    font-size: 15pt;
  }

  .searchGuide .web {
    display: none;
  }

  .searchGuide .mobile {
    display: inline-block;
  }

  .retrievalSearch_Table {
    min-width: 0px;
    width: 95%;
  }

  .mobileMenu_line {
    background-color: #0a3e62;
    width: 30px;
    height: 6.5px;
    margin-bottom: 3px;
  }

  #mobileMenuList {
    position: fixed;
    right: 0px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border: 2px solid black;
    background-color: white;
    z-index: 1;
  }

  .mobileMenu_close {
    float: right;
    background: white;
    width: 40px;
    height: 40px;
    position: relative;
    top: 8px;
    margin-right: 10px;
  }
  .mobileMenu_close:after {
    content: '';
    height: 40px;
    border-left: 8px solid #000;
    position: absolute;
    transform: rotate(45deg);
    left: 15px;
  }

  .mobileMenu_close:before {
    content: '';
    height: 40px;
    border-left: 8px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    left: 15px;
  }

  #mobileMenuList ul{
    clear: both;
  }

  #mobileMenuList ul, li{
    display: block;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #mobileMenuList a{
    text-decoration: none;
    color: black;
  }

  #mobileMenuList a:hover{
    color: #1e90ff;
  }

  .retrieval_tableRow {
    position: relative;
    border-bottom: 1px solid #bebbc2;
  }

  .optionTitle {
    width: 20%;
    font-size: 14pt;
    border: 0px;
    background: #fbfafa;
    color: #0a3e62;
    font-weight: 900;
  }

  .optionTitle legend {
    margin-left: 0;
    margin-right: 0;
    color: #0a3e62;
  }

  .optionPanel {
    padding: 3px 3px 3px 3px;
    background-color: #fbfafa;
    border: 0;
  }

  .option {
    margin-bottom: 2px;
    min-width: 0px;
    border: 1px solid #bebbc2;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-right: 0px;
    font-size: 10.5pt;
  }

  .option.selected {
    background: #0a3e62;
    border-color: #0a3e62;
  }

  input[type=text]{
    border-color: #bebbc2;
  }

  select{
    width: 80px;
    border: 1px solid #bebbc2;
  }

  .buttonBlock {
    height: auto;
    margin-top: 5px;
  }

  .buttonBlock .reset_and_retrievalSearch{
    position: relative;
    right: 0px;
    margin-top: 10px;
  }

  .buttonBlock .web {
    display: none;
  }

  .buttonBlock .more_or_hide {
    display: block;
    position: relative;
    left: 0px;
  }

  .buttonBlock .more_or_hide span {
    display: none;
  }

  .reset_searchConditions {
    float: right;
    background-color: #0a3e62;
    border-radius: 15px;
    height: auto;
    color: #fbfafa;
    font-size: 11pt;
    font-weight: 400;
    border: 1px solid white;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  #retrievalSearch_Button {
    height: 40px;
    width: 150px;
  }

  #footer {
    position: relative;
    display: table;
    width: 95%;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 380px) {
  .searchGuide .description_main {
    font-size: 14pt;
  }
  input[type=text]{
    width: 150px;
  }
  .optionTitle {
    font-size: 12pt;
  }
  legend input[type=checkbox] + label:before {
    width: 11px;
    height: 11px;
    margin-left: -1px;
  }
  legend input[type=checkbox].selected + label:before {
    font-size: 18px;
  }
  .age_search_criteria {
    font-size: 9pt;
    width: 150px;
  }
  select {
    width: 55px;
    font-size: 9pt;
  }
  .competitionName input[type=text] {
    width: 100px;
  }
  .teamName input[type=text] {
    width: 100px;
  }
}
